.FooterMainContainer{
    position : relative;
    bottom: 0;
    right: 0;
    left: 0;
    background: #172146;
    padding: 80px 16%;
    color: #fff;
    font-family: roboto;
    width: 100%;
    margin-top: 0;
}
.FooterItemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.FooterLinkSection{
    margin: 10px;
    display: flex;
    max-width: 220px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-self: flex-start;
}
.FooterSectionHeading{
    color: hsla(0,0%,100%,.5);
    margin: 1em 0 1em 0;
    text-transform: uppercase;
    font-weight: 500;
}
.FooterItem{
    margin: 5px 0 5px 0;
    margin-bottom: 5px;
    line-height: 20px;
    color: white;
    font-weight: 300;
    font-size: 13px;
}
.FooterItemWithIcon{
    margin: 5px 0 5px 0;
    margin-bottom: 5px;
    color: white;
    font-weight: 300;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.ImageIcon{
    margin: 0 5px 0 0;
}
.FooterSectionSocialLinks{
    margin: 1em 0 1em 0;
}
.SocialIcon{
    height: 20px;
    margin-left: 4px;
    margin-right: 12px;
    width: 20px;
}
.CopyrightSection{
    margin: 1em 0 1em 0;
    letter-spacing: 0.3px;
    font-size: 11px;
}